PORT=5005
# MIRAIE_MOBILE="+91xxxxxxxxxx"
# MIRAIE_PASSWORD="your_miraie_password"
MIRAIE_CLIENT_ID="your_miraie_client_id"
MONGODB_URI="mongodb+srv://<your_username>:<your_password>@<your_cluster_url>/panasonic_miraie?retryWrites=true&w=majority"
GEMINI_API_KEY="your_gemini_api_key_here"
